<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0"><dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string><![CDATA[https://ali-fir-pro-binary.fir.im/1b9757f4e92320134af28cf848a508e8c50790f2?auth_key=1546788035-0-0-376317134c12d0b324d632adc5de7a79]]></string>
        </dict>
        <dict>
          <key>kind</key>
          <string>display-image</string>
          <key>needs-shine</key>
          <integer>0</integer>
          <key>url</key>
          <string><![CDATA[https://pro-icon-qn.fir.im/af2988ae1f8aeabb4e4e2004a71c64e582b1a0e1?e=1546789835&token=LOvmia8oXF4xnLh0IdH05XMYpH6ENHNpARlmPc-T:px2W9e_vyCA99ssREMHcT1c2cPU=]]></string>
        </dict>
        <dict>
          <key>kind</key>
          <string>full-size-image</string>
          <key>needs-shine</key>
          <true/>
          <key>url</key>
          <string><![CDATA[https://pro-icon-qn.fir.im/af2988ae1f8aeabb4e4e2004a71c64e582b1a0e1?e=1546789835&token=LOvmia8oXF4xnLh0IdH05XMYpH6ENHNpARlmPc-T:px2W9e_vyCA99ssREMHcT1c2cPU=]]></string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.tantu.map</string>
        <key>bundle-version</key>
        <string><![CDATA[2.3.0]]></string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string><![CDATA[探途离线地图]]></string>
      </dict>
    </dict>
  </array>
</dict></plist>
